<header class="header">
  <div class="header__wrapper container">
    <div class="header__content">
      <a routerLink="/catalog"><img src="assets/images/logo.png" alt=""/></a>
      <ng-container *ngIf="showSearch">
        <div class="header__content_search">
          <input class="main-field" type="text" placeholder="Введите название..." #input/>
          <div (click)="searchProduct()" ><svg width="20" height="19" fill="#253B6E"><use xlink:href="assets/icons/sprite.svg#icon-search"></use></svg></div>
        </div>
      </ng-container>
      <ul>
        <ng-container *ngIf="user$ | async as user; else unauthorizedUser">
          <li>
            <a routerLink="/favourites">
              <div>
                <svg width="20" height="21" stroke="#253B6E" fill="none"><use xlink:href="assets/icons/sprite.svg#icon-favourite"></use></svg>
                <span class="header-counter">
                {{ favouritesCount$ | async }}
              </span>
              </div>
              <span>Избранное</span>
            </a>
          </li>
          <li>
            <a routerLink="/cart">
              <div>
                <svg width="20" height="20" fill="#253B6E"><use xlink:href="assets/icons/sprite.svg#icon-cart"></use></svg>
                <span class="header-counter">
                {{ productCount$ | async }}
              </span>
              </div>
              <span>Корзина</span>
            </a>
          </li>
          <li>
            <a routerLink="/dashboard">
              <div><svg width="16" height="20" fill="#253B6E"><use xlink:href="assets/icons/sprite.svg#icon-account"></use></svg></div>
              <span>Аккаунт</span>
            </a>
          </li>
        </ng-container>
        <ng-template #unauthorizedUser>
          <li>
            <a routerLink="/cart">
              <div>
                <svg width="20" height="20" fill="#253B6E"><use xlink:href="assets/icons/sprite.svg#icon-cart"></use></svg>
                <span class="header-counter">
                {{ productCount$ | async }}
              </span>
              </div>
              <span>Корзина</span>
            </a>
          </li>
          <li>
            <a routerLink="/auth">
              <div><svg width="16" height="20" fill="#253B6E"><use xlink:href="assets/icons/sprite.svg#icon-account"></use></svg></div>
              <span>Войти</span>
            </a>
          </li>
        </ng-template>
      </ul>
    </div>
    <div class="header__bottom-nav">

    </div>
  </div>
</header>
