<header class="header">
  <div class="header__wrapper container">
    <div class="header__content">
      <a routerLink="/catalog"><img src="assets/images/logo.png" alt=""/></a>
      <div class="header__content_search">
        <input class="main-field" type="text" placeholder="Введите название..."/>
        <div><svg width="20" height="19" fill="#253B6E"><use xlink:href="assets/icons/sprite.svg#icon-search"></use></svg></div>
      </div>
      <ul>
        <li>
          <a routerLink="/favourites">
            <div>
              <svg width="20" height="19" fill="#253B6E"><use xlink:href="assets/icons/sprite.svg#icon-favourite"></use></svg>
              <span class="header-counter">
                0
              </span>
            </div>
            <span>Избранное</span>
          </a>
        </li>
        <li>
          <a routerLink="/cart">
            <div>
              <svg width="20" height="20" fill="#253B6E"><use xlink:href="assets/icons/sprite.svg#icon-cart"></use></svg>
              <span class="header-counter">
                {{ productCount$ | async }}
              </span>
            </div>
            <span>Корзина</span>
          </a>
        </li>
        <li>
          <a routerLink="/auth" *ngIf="!(user$ | async)">
            <div><svg width="16" height="20" fill="#253B6E"><use xlink:href="assets/icons/sprite.svg#icon-account"></use></svg></div>
            <span>Войти</span>
          </a>
          <a routerLink="/dashboard" *ngIf="(user$ | async)">
            <div><svg width="16" height="20" fill="#253B6E"><use xlink:href="assets/icons/sprite.svg#icon-account"></use></svg></div>
            <span>Аккаунт</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="header__bottom-nav">

    </div>
  </div>
</header>
