:host {
  width: 100%;
  display: flex;
  gap: 16px;
  margin-top: 32px;

  app-product-card {
    background-color: var(--theme-blue);
  }
}

.section__wrapper {
  width: 100%;
}

.favourites__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 40px;
}
