<div class="section__wrapper">
  <h2 class="text-accent">Личные данные</h2>
  <form [formGroup]="formGroup" (ngSubmit)="updateUserData()">
    <label>
      <span>Фамилия</span>
      <input class="main-field" placeholder="Введите фамилию" name="lastName" formControlName="lastName" />
    </label>
    <label>
      <span>Имя</span>
      <input class="main-field" placeholder="Введите имя" name="name" formControlName="name" />
    </label>
    <label>
      <span>Отчество</span>
      <input class="main-field" placeholder="Введите отчество" name="middleName" formControlName="middleName" />
    </label>
    <label>
      <span>Адрес пункта выдачи</span>
      <app-combobox
        [data]="deliveryPoints$ | async"
        [value]="formGroup.get('deliveryPoint')?.value"
        (valueChanges)="deliveryPointChanges($event)"
      >
      </app-combobox>
    </label>
    <input class="blue-btn" type="submit" value="Обновить данные"/>
  </form>
</div>
