<div id="map"></div>


<ng-container *ngIf="user$ | async as user">
  <div >

    {{ user.deliveryPoint | json }}
  </div>

  <form [formGroup]="formGroup">

    <div class="form-group__field">
      <label>Фамилия</label>
      <input placeholder="Фамилия" name="lastName" formControlName="lastName" />
    </div>
    <div class="form-group__field">
      <label>Имя</label>
      <input name="name" formControlName="name" />
    </div>
    <div class="form-group__field">
      <label>Отчество</label>
      <input name="middleName" formControlName="middleName" />
    </div>
    <button (click)="updateUserData(user)">
      Update user data
    </button>
  </form>
</ng-container>
