
/*================================Template====================================*/
.text-accent {
  color: var(--theme-dark-blue);
}

.section__wrapper {
  background-color: var(--theme-light-blue);
  padding: 40px;
  border-radius: 20px;
  min-height: 80vh;

  > .text-accent {
    font-weight: 500;
    margin-bottom: 16px;
  }
}
/*=================================Fields=====================================*/
form {
  label {
    color: var(--theme-dark-blue);
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    margin-bottom: 10px;
  }
}

.main-field {
  display: block;
  outline: none;
  font-size: 16px;
  font-family: 'Gilroy', sans-serif;
  background: var(--theme-main);
  border-radius: 8px;
  padding: 12px 20px;
  max-width: 500px;
  width: 100%;
  color: var(--theme-dark-blue);
  border: 1px solid var(--theme-dark-blue);

  &::placeholder {
    font-family: 'Gilroy', sans-serif;
    outline: none;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: var(--theme-dark-blue);
    opacity: 1;
  }
}

/*================================Buttons=====================================*/
.main-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  color: var(--theme-dark-blue);
  background-color: var(--theme-main);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 20px;
  font-family: 'Gilroy', sans-serif;
  transition: all .5s ease;

  &:hover {
    transition: all .5s ease;
  }
}

.blue-btn {
  @extend .main-btn;

  color: var(--theme-main);
  background-color: var(--theme-accent-blue);
}

.light-blue-btn {
  @extend .main-btn;

  color: var(--theme-dark-blue);
  background-color: var(--theme-blue);
  padding: 0 10px;
  font-size: 16px;
  text-transform: initial;
  height: 32px;

  svg {
    margin-right: 6px;
  }
}
