:host {
  display: flex;
  flex-direction: column;
  width: 100%;

  ul {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    li {
      display: flex;
      align-items: center;
      background-color: var(--theme-main);
      padding: 8px;
      border-radius: 8px;
      cursor: pointer;
      transition: all .2s ease-in-out;

      &:hover {
        //box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        //background-color: var(--theme-accent-blue);
        //color: var(--theme-main);
      }

      &.active {
        color: var(--theme-main);
        background-color: var(--theme-dark-blue);
      }
    }
  }
}
