<main class="main container">
  <app-catalog-categories
    class="categories"
    [categories]="categories$"
    [activeCategory]="activeCategory"
    (categorySelected)="categorySelected($event)"
  ></app-catalog-categories>
  <div class="main__wrapper">
    <div class="main__wrapper__menu">
      <app-catalog-menu
        [subcategories]="subcategories$ | async"
        [activeSubcategory]="activeSubcategory"
        (filterChanged)="applyFilters($event)"
      >
      </app-catalog-menu>
    </div>
    <div class="main__wrapper__catalog">
      <div class="main__wrapper__catalog__header">
        <h1>Каталог</h1>

        <div class="main__wrapper__catalog__header__buttons">
          <span class="light-blue-btn" (click)="create()" *ngIf="userService.isUserAdmin() | async">
            Создать
          </span>
<!--          <span class="light-blue-btn">-->
<!--            <svg width="20" height="20" fill="#253B6E"><use xlink:href="assets/icons/sprite.svg#icon-sort"></use></svg>-->
<!--            Сначала дешевле-->
<!--          </span>-->
        </div>
      </div>
      <div class="main__wrapper__catalog__products">
        <ng-container *ngIf="!(products$ | async)?.length">
          <h3 class="text-accent">Товары не найдены</h3>
        </ng-container>
        <ng-container *ngIf="user$ | async as user; else unauthorized">
          <app-product-card
            class="card"
            *ngFor="let product of products$ | async"
            [product]="product"
            [isFavourite]="user.favorites.includes(product.id)"
            [showFavouriteButton]="!!user"
            (productSelected)="addProductToCart($event)"
            (addedToFavourites)="updateFavourites($event, user)"
            (click)="openProductDetails(product.id)"
          >
          </app-product-card>
        </ng-container>
        <ng-template #unauthorized>
          <app-product-card
            class="card"
            *ngFor="let product of products$ | async"
            [product]="product"
            (productSelected)="addProductToCart($event)"
            (click)="openProductDetails(product.id)"
          >
          </app-product-card>
        </ng-template>
      </div>
    </div>
  </div>
</main>
