<main class="main container">
  <app-categories
    class="categories"
    [categories]="categories$"
    [activeCategoryId]="params.categoryId"
    (categorySelected)="categorySelected($event)"
  ></app-categories>

  <div class="main__wrapper">
    <div class="main__wrapper__menu">
<!--      <app-side-menu-->
<!--        [items]="subcategories$"-->
<!--        [activeItemId]="activeSubcategoryId"-->
<!--        (itemSelected)="subcategorySelected($event)"-->
<!--      >-->
<!--      </app-side-menu>-->
<!--  TODO: доделать    -->
      <app-filter
        [subcategories]="subcategories$ | async"
        [activeSubcategoryId]="params.subCategoryId"
        (filterChanged)="applyFilters($event)"
      >

      </app-filter>
    </div>
    <div class="main__wrapper__catalog">
      <div class="main__wrapper__catalog__header">
        <h1>Каталог</h1>

        <div class="main__wrapper__catalog__header__buttons">
          <ng-container *ngIf="user$ | async as user">
            <span class="light-blue-btn" (click)="create()" *ngIf="isUserAdmin() | async">
              Создать
            </span>
          </ng-container>
<!--          <span class="light-blue-btn">-->
<!--            <svg width="20" height="20" fill="#253B6E"><use xlink:href="assets/icons/sprite.svg#icon-sort"></use></svg>-->
<!--            Сначала дешевле-->
<!--          </span>-->
        </div>
      </div>
      <div class="main__wrapper__catalog__products">
        <ng-container *ngIf="user$ | async as user; else unauthorized">
          <app-product-card
            class="card"
            *ngFor="let product of products$ | async"
            [product]="product"
            [isFavourite]="user.favorites.includes(product.id)"
            [showFavouriteButton]="!!user"
            (productSelected)="addProductToCart($event)"
            (addedToFavourites)="updateFavourites($event, user)"
            (click)="openProductDetails(product.id)"
          >
          </app-product-card>
        </ng-container>
        <ng-template #unauthorized>
          <app-product-card
            class="card"
            *ngFor="let product of products$ | async"
            [product]="product"
            (productSelected)="addProductToCart($event)"
            (click)="openProductDetails(product.id)"
          >
          </app-product-card>
        </ng-template>
      </div>
    </div>
  </div>
</main>
