<section class="container">
  <div class="section__wrapper">
    <div style="color: black;">
      {{ product$ | async | json }}
    </div>

    <form [formGroup]="formGroup" (ngSubmit)="updateProduct()">
      <label>
        <span>ID</span>
        <input class="main-field" name="id" formControlName="id" />
      </label>
      <label>
        <span>Имя</span>
        <input class="main-field" name="name" formControlName="name" />
      </label>
      <label>
        <span>Цена</span>
        <input class="main-field" name="price" formControlName="price" />
      </label>
      <label>
        <span>Адрес картинки</span>
        <input class="main-field" name="imageUrl" formControlName="imageUrl" />
      </label>
      <label>
        <span>Категория</span>
        <app-combobox [data]="subcategories$ | async" [value]="formGroup.get('subCategory')?.value"></app-combobox>
      </label>
      <input class="blue-btn" type="submit" value="Обновить"/>
    </form>
  </div>
</section>
