<div class="container">
  <div class="section__wrapper">
    <h2 class="text-accent">Вход в аккаунт</h2>
    <form [formGroup]="formGroup" (ngSubmit)="login()">
      <label>
        <span>Логин</span>
        <input class="main-field" placeholder="Введите логин" name="login" formControlName="login"/>
      </label>
      <label>
        <span>Пароль</span>
        <input class="main-field" type="password" placeholder="Введите пароль" name="password" formControlName="password"/>
      </label>

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <input class="blue-btn" type="submit" value="Войти"/>
    </form>
  </div>
</div>
