<main class="main">
  <app-subcategories
    (subcategorySelected)="subcategorySelected($event)"
  >
  </app-subcategories>

  <div class="container">
    <app-categories
      class="categories"
      (categorySelected)="categorySelected($event)"
    ></app-categories>
    <div class="catalog">
      <div class="catalog__info">
        <h2>Каталог</h2>
      </div>
      <div class="catalog__content">
        <app-product-card
          class="card"
          *ngFor="let product of products$ | async"
          [product]="product"
          (productSelected)="addProductToCart($event)"
          (click)="openProductDetails(product.id)"
        >
        </app-product-card>
      </div>
    </div>
  </div>
</main>

