:host {
  width: 100%;
}

.categories {
  padding: 12px 36px;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

.card {
}

.catalog {
  &__info {
    color: black;
  }
  &__content {
    display: flex;
    gap: 16px;
  }
}

.subcategories {
  width: 242px;
}
