:host {
  width: 100%;
}

.categories {
  padding: 12px 36px;
  max-width: 200px;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  display: flex;
  gap: 16px;
}

.catalog {
  width: 100%;
  &__info {
    color: black;
  }
  &__content {
    display: flex;
    gap: 16px;
  }
}

.subcategories {
  width: 242px;
}
