<main class="main">

  <app-categories
    class="categories"
    [categories]="categories$"
    [activeCategoryId]="activeCategoryId"
    (categorySelected)="categorySelected($event)"
  ></app-categories>
  <div class="container">
    <app-side-menu
      [items]="subcategories$"
      [activeItemId]="activeSubcategoryId"
      (itemSelected)="subcategorySelected($event)"
    >
    </app-side-menu>
    <div class="catalog">
      <div class="catalog__info">
        <h2>Каталог</h2>
      </div>
      <div class="catalog__content">
        <ng-container *ngIf="user$ | async as user">
          <app-product-card
            class="card"
            *ngFor="let product of products$ | async"
            [product]="product"
            [isFavourite]="user.favorites.includes(product.id)"
            (productSelected)="addProductToCart($event)"
            (addedToFavourites)="updateFavourites($event, user)"
            (click)="openProductDetails(product.id)"
          >
          </app-product-card>
        </ng-container>
      </div>
    </div>
  </div>
</main>

