<div class="container">
  <div class="section__wrapper">
    <h2 class="text-accent">Корзина</h2>
    <ng-container *ngIf="cartProducts$ | async as cardProducts">
      <ng-container *ngIf="cardProducts.length; else productsNone">
        <h3 class="text-accent">Список товаров</h3>
        <div class="section__wrapper__content">
          <div class="products__wrapper">
            <div class="product-item" *ngFor="let cartProduct of cardProducts; let i = index">
              <div class="product-item__image" style="background-image: url({{ cartProduct.product.imageUrl }})"></div>
              <div class="product-item__info">
                <span class="product-item__info_name">
                  {{ cartProduct.product.name }}
                </span>
                <div class="product-item__info_controls">
                  <span class="product-item__info_controls-price">{{ cartProduct.product.price * cartProduct.countProduct }} ₽</span>
                  <div class="product-item__info_controls-count">
                    <app-count-select [value]="cartProduct.countProduct" (valueChanges)="changeProductCount(cartProduct, $event)"></app-count-select>
                  </div>
                  <div class="product-item__info_controls_delete-button" (click)="deleteProductFromCart(cartProduct)">
                    <svg width="24" height="24"><use xlink:href="assets/icons/sprite.svg#icon-close"></use></svg>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- TODO: Добавить проверку на авторизированного пользователя -->
          <form class="order-form" *ngIf="cardProducts.length !== 0">
            <label>
              <span>Адрес пункта выдачи</span>
              <app-combobox
                [data]="deliveryPoints$ | async"
                [value]="selectedDeliveryPoint"
                (valueChanges)="deliveryPointChanges($event)"
              >
              </app-combobox>
            </label>
            <ng-container
              *ngIf="(user$ | async)?.id"
            >
              <input type="submit" class="blue-btn" (click)="createNewOrder($event, cardProducts)" value="Купить за {{ totalPrice | async }} ₽"/>
              <input *ngIf="(user$ | async)?.userRoom?.bonusPoints !== 0" type="submit" class="blue-btn" (click)="createNewOrderUsingBonusPoints($event, cardProducts)" value="Купить за {{ totalDiscountPrice | async }} ₽ (потратить бонусы)"/>
            </ng-container>
           </form>
        </div>
      </ng-container>
      <ng-template #productsNone>
        <h3 class="text-accent">Коризна пуста</h3>
      </ng-template>
    </ng-container>
  </div>
</div>
