<div class="section__wrapper">
  <h2 class="text-accent">История заказов</h2>
  <ng-container *ngIf="orderHistory$ | async as orderHistory">
    <div *ngIf="orderHistory.length === 0">
      Вы ещё не сделали ни одного заказа
    </div>
    <div class="user-order__wrapper">
      <div class="user-order__item" *ngFor="let userOrder of orderHistory">
        <h3>Дата заказа: {{ userOrder.orderDateTime | date : 'dd.MM.yyyy в H:mm' }}</h3>
        <h3>Ожидаемая дата доставки: {{ userOrder.expectedDate | date : 'dd.MM.yyyy' }}</h3>
        <div class="user-order__item__products">
          <h3>Товары:</h3>
          <div *ngFor="let productOrder of userOrder.productOrder" class="user-order__item__products__item">
            <img src="{{ productOrder.product.imageUrl }}" alt="">
            <div class="user-order__item__products__item_info">
              <h3>{{ productOrder.product.name }}</h3>
              <div class="user-order__item__products__item_info-description">
                <h3>Цена: {{ productOrder.product.price }} ₽</h3>
                <h3>Количество: {{ productOrder.countProduct }}</h3>
                <h3>Стоимость: {{ productOrder.product.price * productOrder.countProduct }} ₽</h3>
              </div>
            </div>
          </div>
        </div>
        <h3>На сумму: {{ userOrder.sum }} ₽</h3>
      </div>
    </div>
  </ng-container>
</div>
