:host {
  display: flex;
  gap: 32px;
  margin: 32px auto 0;
  max-width: 1200px;
}

.content {
  flex: 1;
  background-color: var(--theme-light-blue);
  border-radius: 20px;
  min-height: 80vh;
}

.side-menu {
  display: flex;
  flex-direction: column;
  width: 288px;
  background-color: var(--theme-blue);
  color: var(--theme-black);
  row-gap: 16px;
  padding: 16px;
  border-radius: 20px;
  min-height: 80vh;
}

.error-button {
  padding: 0 16px;
}

.logout-btn {
  background-color: var(--theme-main);
  color: var(--theme-dark-blue);
  padding: 8px;
  border-radius: 8px;
  min-height: 36px;
  width: 100%;
}
