<ng-container *ngIf="cartProducts$ | async as cartProducts">
<h3>Список товаров</h3>
  <div
    *ngFor="let cartProduct of cartProducts"
    class="product-row"
  >
    <div class="product-row__name">
      {{ cartProduct.product.name }}
    </div>

    <div class="product-row__count">
      Количество: {{ cartProduct.countProduct }}
    </div>

    <div class="product-row__delete-button"
         (click)="deleteProductFromCart(cartProduct)"
    >
      Убрать
    </div>
  </div>



  <ng-container
    *ngIf="cartProducts.length !== 0"
  >
<!--    <app-combobox-->
<!--      [activeItem]="selectedDeliveryPoint"-->
<!--      [items]="deliveryPoints$ | async"-->
<!--      (activeItemChanges)="deliveryPointChanges($event)"-->
<!--    >-->

<!--    </app-combobox>-->

    <app-button class="order-button" (click)="createNewOrder(cartProducts)">
      Купить
    </app-button>
  </ng-container>

</ng-container>
