:host {
  color: var(--theme-dark-blue);
}

section {
  padding-bottom: 0;

  h2 {
    font-size: 32px;
  }
}

.product__wrapper {
  display: flex;
  gap: 32px;

  &__title {
    width: 33%;
    background-color: white;
    border-radius: 20px;

    img {
      display: block;
      border-radius: 20px;
      max-width: 100%;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 66%;

    h3 {
      font-weight: 500;
    }

    &__controls {
      display: flex;
      align-items: center;
      gap: 12px;

      .favourite-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        background-color: var(--theme-accent-blue);
        height: 43px;
        width: 43px;
        cursor: pointer;
        transition: all .3s ease-in-out;

        svg {
          stroke: var(--theme-light-blue);
          fill: var(--theme-accent-blue);
          transition: all .3s ease-in-out;
        }

        &.active {
          svg {
            fill: var(--theme-light-blue);
          }
        }
      }
    }
  }
}
