:host {
  color: var(--theme-dark-blue);
}

section {
  padding-bottom: 0;

  h2 {
    font-size: 32px;
  }
}

.product__wrapper {
  display: flex;
  gap: 32px;

  &__title {
    width: 33%;

    img {
      display: block;
      border-radius: 20px;
      max-width: 100%;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 66%;

    h3 {
      font-weight: 500;
    }

    &__controls {
      display: flex;
      align-items: center;
      gap: 12px;

      .favourite-btn {
        background-color: var(--theme-accent-blue);
        padding: 11px;

        svg {
          stroke: var(--theme-main);
          fill: none;
        }

        &.active {
          svg {
            fill: var(--theme-light-blue);
          }
        }
      }
    }
  }
}
