<section class="container">
  <div class="section__wrapper">
    <h2 class="text-accent">{{ formGroup.get('name')?.value }}</h2>
    <div class="product__wrapper">
      <div class="product__wrapper__title">
        <img class="product-image" src="{{ formGroup.get('imageUrl')?.value }}" alt="">
      </div>
      <div class="product__wrapper__description">
        <ng-container *ngIf="userService.isUserAdmin() | async; else userIsNotAdmin">
          <form class="form" [formGroup]="formGroup" >
            <label>
              <span>Имя</span>
              <input class="main-field" name="name" formControlName="name" />
            </label>
            <label>
              <span>Цена</span>
              <input class="main-field" name="price" formControlName="price" />
            </label>

            <label>
              <span>Адрес картинки</span>
              <input class="main-field" name="imageUrl" formControlName="imageUrl" />
            </label>

            <label>
              <span>Описание</span>
              <input class="main-field" name="description" formControlName="description" />
            </label>

            <label>
              <span>Категория</span>
              <app-combobox [data]="subcategories$ | async" [value]="formGroup.get('subCategory')?.value" (valueChanges)="subcategoryChanges($event)"></app-combobox>
            </label>

            <div class="product__wrapper__description__controls">
              <ng-container *ngIf="route?.url | async as url">
                <input *ngIf="url[0].path === 'create'; else updateProductTemplate" (click)="createProduct()" class="blue-btn" type="submit" value="Создать"/>
                <ng-template #updateProductTemplate>
                  <input (click)="updateProduct()" class="blue-btn" type="submit" value="Обновить"/>
                  <input class="blue-btn" type="submit" value="В корзину" (click)="addProductToCart(formGroup.value)"/>
                  <ng-container *ngIf="user$ | async as user">
                    <span class="control-btn"
                          [class.active]="user.favorites.includes(formGroup.get('id')?.value)"
                          (click)="addProductToFavourites(formGroup.value, user)"
                    >
                      <svg width="20" height="21"><use xlink:href="assets/icons/sprite.svg#icon-favourite"></use></svg>
                    </span>
                  </ng-container>
                  <span class="control-btn white-fill"
                        (click)="setProductVisibility($event)"
                  >
                    <svg width="20" height="21">
                      <ng-container *ngIf="formGroup.get('isAvailable')?.value; else notAvailable">
                        <use xlink:href="assets/icons/sprite.svg#icon-trash"></use>
                      </ng-container>
                      <ng-template #notAvailable>
                        <use xlink:href="assets/icons/sprite.svg#icon-plus"></use>
                      </ng-template>
                    </svg>
                  </span>
                </ng-template>
              </ng-container>
            </div>
          </form>
        </ng-container>
        <ng-template #userIsNotAdmin>
          <h3>Цена: {{ formGroup.get('price')?.value }} ₽</h3>
          <h3>Категория: {{ formGroup.get('subCategory')?.value?.name }}</h3>
          <div class="product__wrapper__description__controls">
            <input class="blue-btn" type="submit" value="В корзину" (click)="addProductToCart(formGroup.value)"/>
            <ng-container *ngIf="user$ | async as user">
              <span class="favourite-btn"
                   [class.active]="user.favorites.includes(formGroup.get('id')?.value)"
                   (click)="addProductToFavourites(formGroup.value, user)"
              >
                <svg width="20" height="21"><use xlink:href="assets/icons/sprite.svg#icon-favourite"></use></svg>
              </span>
            </ng-container>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</section>
